/*
Risus Web. Copyright (c) 2016 Robin Phillips
This software may be modified and distributed under the terms
of the MIT license.  See the LICENSE file for details.

Risus: The Anything RPG is written by S. John Ross. Get it from
https://www.drivethrurpg.com/product/170294/
*/

html {
	font-family: sans-serif;
}

input {
	width: 100ex;
	max-width: 90%;
}

textarea {
	width: 100ex;
	height: 5em;
	max-width: 90%;
}

table, td, th {
	border: thin solid gray;
}

td, th {
	padding: 0 1ex;
}

td.check {
	text-align: center;
}

input.small {
	width: 10ex;
}

input[type="submit"], input[type="checkbox"], input[type="radio"] {
	width: auto;
}

div.box {
	max-width: 90%;
	display: inline-block;
	border: thin solid gray;
	margin: 10px 1px;
	background: #E9E9E9;
	padding: 10px;
}

div.character {
	width: 305px;
}

p.boxtitle {
	font-weight: bold;
}

p.footerlinks {
	line-height: 150%;
	font-size: small;
}

.hidden {
	display: none;
	font-style: italic;
}

.bad {
	font-weight: bold;
	color: red;
}

.good {
	font-weight: bold;
	color: green;
}

.alternate:nth-of-type(odd) {
}

.alternate:nth-of-type(even) {
	background: #E9E9E9;
}

.gmonlylink {
	/* font-style: italic; */
	color: green;
}

/* Uncomment to hide inappropriate clichés (if they're not being used) */
/*
.inappropriate {
	display: none;
}
*/
